.contact-us-container {
    position: relative;
    width: auto;
    height: auto; /* Adjust height as needed */
    overflow: hidden;
  }
  
  .animated-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: animateGradient 15s ease infinite;
    background: linear-gradient(-45deg, #6dd5ed, #2193b0, #6dd5ed, #2193b0);
    background-size: 400% 400%;
  }
  
  @keyframes animateGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .contact-form-container {
    width: 100vw;
    position: relative;
    z-index: 1;
    // display: flex;
    justify-content: center;
    align-items: center;
    // padding: 0 20px;
    /* Additional styling for your form container */
  }
  